.main {
    background-color: black;
    color: white;
    width: 100%;
    height: 50px;
    display: grid;
    grid-template-columns: 200px 1fr 200px;
    grid-template-areas: "u t l";
    font-weight: 400;
    font-size: 22px;
}

.user {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0 10px 40px;
    grid-area: u;
    border-radius: 5px;
    width: auto;
    text-align: center;
    transition: all 500ms;
    background-color: white;
    color: black;

}

.counter {
    font-size: 36px;
}

.tools {
    grid-area: t;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: auto 200px auto;
    align-items: center;
    justify-content: center;

}

.tools div {
    margin: auto;
}

.read_button,
.save_button {
    border-radius: 5px;
    width: auto;
    text-align: center;
    transition: all 500ms;
    background-color: white;
    color: black;
    padding: 0 10px 0 10px;
}

.read_button:hover,
.save_button:hover,
.user:hover,
.selectedLanguage:hover,
.unSelectedLanguage:hover {
    cursor: pointer;
    box-shadow: 0 0 20px 5px rgba(255, 255, 255, 1);
    transition: all 500ms;

}

.local {
    grid-area: l;
    display: grid;
    justify-content: center;
    grid-template-rows: 1fr;
    grid-template-columns: 30px 30px;
    margin: auto 20px;
    column-gap: 20px;
}

.selectedLanguage {
    background-color: white;
    color: black;
}

.selectedLanguage,
.unSelectedLanguage {
    transition: all 500ms;
    cursor: pointer;
    width: 40px;
    text-align: center;
    border-radius: 5px;
}

.unSelectedLanguage:hover {

    background-color: white;
    color: black;
}

@media (max-width:600px) {
    .main {
        font-size: 18px;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .tools {
        grid-area: t;
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: auto auto auto;
        column-gap: 20px;
        align-items: center;
        justify-content: center;

    }

    .read_button,
    .save_button {
        width: auto;
        padding: 0 5px;
    }

    .local {
        grid-area: l;
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 30px 30px;

    }

    .counter {
        font-size: 16px;
    }
}