.main {
  width: 60%;
  min-width: 500px;
  height: auto;
  overflow: scroll;
  padding-top: 10px;
  border-radius: 7px;
}

.main::-webkit-scrollbar {
  width: 5px;
  height: 0px;

}

.main::-webkit-scrollbar-thumb {
  background-color: white;
  display: none;

}

.main:hover::-webkit-scrollbar-thumb {
  display: block;

}

.item {
  display: grid;
  grid-template-columns: auto 1fr 100px;
  margin: 0 10px 30px 10px;
  color: white;
  grid-template-areas:
    "n c t";
  border-radius: 7px;
  background: rgba(47, 150, 245, 0.9);
  box-shadow: 2px 2px 7px black,
    -1px -1px 5px #ffffff;
}

.item_content {
  grid-area: c;
  margin: 5px 20px 5px 20px;
}

.item_number {
  grid-area: n;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% + 5px);
  margin-left: 5px;
}

.item_number span {
  color: white;
  width: 85%;
  padding-right: px;
  border-right: 2px solid silver;
  font-weight: 400;
}

.tools {
  grid-area: t;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
}

.icons {
  font-size: 25px;
  color: white;
}

.icons:hover {
  font-size: 30px;
  color: black;
}

@media (max-width:600px) {
  .main {
    width: 90%;
    min-width: 0;
  }
  .item {
    grid-template-columns: auto 1fr;
    margin: 0 3px 20px 10px;
    color: white;
    grid-template-areas:
      "t t "
      "n  c ";
  }
.tools{
  border-bottom: 1px solid white;  
  margin-bottom: 10px;
  padding-bottom: 10px;
  height: 30px;
}
  
}