.main {
    width: 1000px;
    height: 100%;
    border: 1px solid;
    border-color: rgba(0, 0, 0, 0.2);
    overflow: scroll;
}
.main::-webkit-scrollbar {
    width: 5px;
    height: 0px;
 
 }
 
 .main::-webkit-scrollbar-thumb {
    background-color: silver;
    box-shadow: 0 0 30px white,
 
 }
 .item{
   display: grid;
   grid-template-columns: 30px 1fr;
   grid-template-areas: 
   "n c";
 }