body {
    background-color: #2F96F5;
    background-image: url(/background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    min-width: 1100px;
}

.content {
    width: 100%;
    height: 90vh;
    display: grid;
    justify-items: center;
    row-gap: 30px;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
    background-color: inherit;

}
@keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
  
  .spin-animation {
    animation: spin 1s linear infinite;
  }

.ant-upload {
    color: white;
    font-size: 20px;
}

.ant-upload-select {
    border: none !important;
}

.ant-upload-list-picture-card {
    display: flex;
    justify-content: center;

}

.ant-upload {
    width: 100% !important;
    height: 170px !important;
    margin: 0 !important;
}

.glow-animation {
    animation-name: glow;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}


@keyframes glow {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1), inset 0 0 0 0 rgba(255, 255, 255, 0.1);
    }

    50% {
        box-shadow: 0 0 20px 5px rgba(255, 255, 255, 1), inset 0 0 20px 12px rgba(255, 255, 255, 1);
        
    }

    100% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1), inset 0 0 0 0 rgba(255, 255, 255, 0.1);
        
    }
}


@media (max-width:600px) {
    body{
        min-width: 0;
    }
    .uploadBlock {
        width: 90%;
    }

}